body {
    background-color: #36393F;

}

span {
    font-weight: bold;
}
.commande {
    color: rgb(83, 204, 188);
}

.variable {
    color: rgb(255, 80, 80);
}

.parametre {
    color: rgb(212, 250, 0);
}

.discord-exemples {
	max-width: calc(100% + 1.25rem);
}

.description-de-base {
    margin-left: 1.25em;
}
/* Change bootstrap accordion background color */
.accordion-item {
    background-color: #36393F;
    color: #eee;
}

.accordion-button{
    background-color: #222;
    color: #eee;
}

.accordion-button:not(.collapsed) {
    background-color: #111;
    color: #eee;
}

/* Remove blue border when a div on clicked on*/
.accordion-button:active {
    border-color: #111;
}